.main {
    text-align: center;

    background-image: url('god.jpg');
    background-size: 3% auto;
    height: 100vh;

    display: grid;
    grid-template-areas:    "head head head"
                            "side1 cent side2"
                            "foot foot foot";
}

.header {
    grid-area: head;
    background-image: url("GODtext.png");
    background-repeat: repeat-x;
    background-size: contain;
}

.center {
    grid-area: cent;
    margin-top: 40%;
    margin-bottom: 60%;
    color: white;
}

.footer {
    grid-area: foot;
    background-image: url("GODtext.png");
    background-repeat: repeat-x;
    background-size: contain;
}