.main {
    text-align: center;

    background-image: url('god.jpg');
    background-size: 3% auto;
    height: 100vh;

    display: grid;
    grid-template-areas:    "head head head"
                            "side1 cent side2"
                            "foot foot foot";
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 1fr 400px 1fr;
}

.header {
    grid-area: head;
    background-image: url("GODtext.png");
    background-repeat: repeat-x;
    background-position: top;
    background-size: contain;
}

.center {
    grid-area: cent;
    color: white;
    display: grid;
    grid-template-rows: 20px 20px 50px;
}

.deepImage {
    width: 100%;
    height: auto;
    margin: 10 auto;
}

.footer {
    grid-area: foot;
    background-image: url("GODtext.png");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
}